.roofpig {
  border: none !important;
  max-width: 240px;
  margin-bottom: 52px;

  > div {
    border: none !important;
  }

  > :nth-child(3) {
    height: auto !important;
  }
}

.roofpig-algtext {
  background-color: transparent !important;
  height: auto !important;
  font-size: $font-size-base !important;
  font-weight: bold !important;
  color: var(--body-font-color) !important;
}

.roofpig-past-algtext {
  background-color: var(--hint-color-info) !important;
  border-radius: $border-radius;
}

.roofpig-button {
  border-radius: $border-radius !important;
  border: none !important;
  background-color: var(--gray-500) !important;
  font-weight: bold !important;
  margin-right: $padding-4;
  padding: $padding-1 $padding-4 !important;
  width: 32px !important;
  height: 28px !important;
}

.roofpig-button-enabled {
  background: var(--hint-color-info) !important;
}

.roofpig-count {
  color: var(--hint-color-info) !important;
  font-weight: bold !important;
}
